# A Github classic access token with read:packages permission on an account that has access to the xfw portal repo.
# Create one at https://github.com/settings/tokens/new
GITHUB_TOKEN=

# Location of the hub server. Used for data fetching.
VITE_HUB_URL=http://localhost:8081